body {
 background:#aaa;
}

#instr {
 position:absolute;
 top:0;
 right:0;
}

.codeplayer {
position:relative;
width: 100%;
font-size:2em;
-webkit-perspective: 600px;
-moz-perspective: 600px;
-o-perspective: 600px;
-ms-perspective: 600px;
}

.codeplayer pre {
  white-space: pre-wrap;
  background:#fff;
  padding-bottom:10em;
}

.codeplayer pre :focus {
 outline:0;
}

.codeplayer .show, .codeplayer .hide {
  margin:0;
 position:absolute;
 top:0;
 left:0;
 width: inherit;
 height: inherit;
 -webkit-transform-style: preserve-3d;
 -webkit-backface-visibility: hidden;
 -moz-transform-style: preserve-3d;
 -moz-backface-visibility: hidden;
 /* -- transition is the magic sauce for animation -- */
 -o-transition: all .4s ease-in-out;
 -ms-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}
.codeplayer .show {
 z-index:900;
 -webkit-transform: rotateY(0deg);
 -moz-transform: rotateY(0deg);
 -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
 -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

.prettyprint ins {
  font-weight:bold;
  text-shadow: black 1px 1px;
  text-decoration:none;
}

.prettyprint span[class]:hover {
  font-weight:bold;
}

.codeplayer.flip .show {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.codeplayer .hide {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}

.codeplayer.flip .hide {
    z-index: 1000;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
 -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
 -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}